<form method='POST' enctype='multipart/form-data'>
     <fieldset>
     <label for='name'>Student Name</label>
     <input type='text' name='name'/>
    </fieldset>
    <fieldset>
    <label for='eid'>Student Eid</label>
     <input type='text' name='eid'/>
    </fieldset>
    <fieldset>
     <label for='description'>Description</label>
     <textarea name='description'></textarea>
    </fieldset>
   <fieldset>
      <label for='image'>Image</label>
      <input type='file' name='image' />
    </fieldset>
    <input type='submit' value='add student'/>
 </form>

